<a href="https://colab.research.google.com/github/GabyLeon10100/MujeresDigitales/blob/main/Clase9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
pd.Series([145, 142, 38, 13, 'abc'], name='counts')

0    145
1    142
2     38
3     13
4    abc
Name: counts, dtype: object

In [6]:
pd.Series(['a', 'b', 'c'])

0    a
1    b
2    c
dtype: object

In [9]:
#El indice no necesariamente tiene que ser un número
david = pd.Series([145, 142, 38, 13], name='counts', \
                  index=['Juan', 'Pedro', 'Sofía', 'Andrea'])
print(david)
print('--------')
print(david.values)
print('---------')
print(david.index)

Juan      145
Pedro     142
Sofía      38
Andrea     13
Name: counts, dtype: int64
--------
[145 142  38  13]
---------
Index(['Juan', 'Pedro', 'Sofía', 'Andrea'], dtype='object')

In [11]:
# Y que hay de los nulos
nan_ser = pd.Series([2, None], index=['0', 'C'])
print(nan_ser)
'''
Fijarse que aparece float y es porque los NAN solo pueden ser de ese tipo'''
nan_ser.count()

0    2.0
C    NaN
dtype: float64

1

In [18]:
#Números impares hasta quince
impares = pd.Series([1, 3, 5, 7, 9, 11, 13, 15])
print(impares)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [23]:
pd.Series(range(1, 16, 2))

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

El objeto **Series** es mucho más rapido, consume menos meoria y tiene más metodos que una lista. Tambien tiene muchas similitudes con **Numpy array**

**Proceso CLAB(Creación, Lectura, Actualización, Borrado)**

In [24]:
#1. Creación
cidys = pd.Series([10, 7, 1, 22], index=['1968', '1969', '1970', '1970'], name='Per')
print(cidys)
print('----')

#Que hay si necesito guardar multiples entradas en mi serie
g2 = pd.Series({'1969':7, '1970':[1, 22]}, index=['1969', '1970', '1970'])
print(g2)

# 2) Lectura
print(cidys['1968'])

#Procesos iterarivos
print('---------')
for i in cidys:
  print(i)

1968    10
1969     7
1970     1
1970    22
Name: Per, dtype: int64
----
1969          7
1970    [1, 22]
1970    [1, 22]
dtype: object
10
---------
10
7
1
22

In [27]:
#De los impares, sacarle el valores (indices ) 2 al 4
print(impares) #Serie completa
print(impares[2:5]) #Se espera: 2 -> 5, 3 -> 7 y 4 -> 9

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64
2    5
3    7
4    9
dtype: int64

In [28]:
#Impares mayores a 10
impares > 10

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

In [30]:
#Aqui ya trae los campos que son mayores a 10
mask = impares > 10
impares[mask]

5    11
6    13
7    15
dtype: int64

In [32]:
#Actualización
print(cidys)
cidys['1969'] = 6
print(cidys['1969'])

#Que pasa cuando intento actualizar un indice duplicado
cidys['1970'] = 2
print('--------')
print(cidys)
cidys = pd.Series([10, 7, 1, 22], index=['1968', '1969', '1970', '1970'], name='Per')
#En esos casos es mejor hacer lo siguiente:
cidys.iloc[3] = 2
print(cidys)

1968    10
1969     7
1970     1
1970    22
Name: Per, dtype: int64
6
--------
1968    10
1969     6
1970     2
1970     2
Name: Per, dtype: int64
1968    10
1969     7
1970     1
1970     2
Name: Per, dtype: int64

In [33]:
#Se puede agregar valores a la serie:
cidys = cidys.append(pd.Series({'1974':9}))
print(cidys)

1968    10
1969     7
1970     1
1970     2
1974     9
dtype: int64

In [34]:
#Borrado
del cidys['1968']
print(cidys)
#Tambien se puede hacer filtros
cidys[cidys <= 2]

1969    7
1970    1
1970    2
1974    9
dtype: int64

1970    1
1970    2
dtype: int64

**Indexamiento de series**

---
El atributo .iloc sirve para encontrar la posición de los indices


Por el contrario .loc permite encontrar los labels en el indice

In [35]:
cidys.loc['1970']

1970    1
1970    2
dtype: int64

In [36]:
cidys.iloc[0]

7

**Métodos de series**

In [37]:
import pandas as pd
juan = pd.Series([3, None, 11, 9], index=['David', 'Pedro', 'Ju', 'Lin'], name="counts")
juan2 = pd.Series([5, None, 15, 21], index=['David', 'Pedro', 'Ju', 'Lin'], name="counts")
#Procesos iterativos
for value in juan:
  print(value)

3.0
nan
11.0
9.0

In [38]:
juan

David     3.0
Pedro     NaN
Ju       11.0
Lin       9.0
Name: counts, dtype: float64

In [40]:
for idx, value in juan.iteritems():
  print('indice:', idx, 'valor:', value)

indice: David valor: 3.0
indice: Pedro valor: nan
indice: Ju valor: 11.0
indice: Lin valor: 9.0

In [42]:
# Fechas
fechas = pd.to_datetime(pd.Series(['Sep 7, 2001', '9/8/2001', '9-9-2001', '10th of September 2001', 'Once de Septiembre 2001']), errors='coerce')

In [44]:
fechas[fechas < '2001-9-9']

0   2001-09-07
1   2001-09-08
dtype: datetime64[ns]