<a href="https://colab.research.google.com/github/GabyLeon10100/MujeresDigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**

---
Para manejar un código limpio en python: Podemos seguir las siguientes recomendaciones:


1. Manejar siempre minusculas
2. Se le puede añadir números
3. Aparecerá un error si no están seguidos la declaración de la variable con el número asignado


En Python hay varios tipos de datos compuestos y están disponibles por defecto en los interpretes.
**¿De qué tipos?**
1. Númericos
2. Secuencias
3. Mapeos
4. Conjuntos usados para agrupar otros valores

**Diferencia entre constantes y variables**
En matematicas llamamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo: Contabilidad: Gastos Fijos_ Muebles de oficina
Ejemplo 2: 6

Por otro lado, el concepto de variable, como la cantidad que es susceptible a tomar distintios valores númericos **Ejemplo**

In [2]:
x = 80
print(x)

80

**Tipos de datos**


---

**Enteros**

*   Son los números que no tienen decimales
*   Pueden ser positivos y negativos

In [3]:
a = int(3.444)
print(a)

3

El comando int es para hacer alusión a números enteros. A parte el comando float, permite valores con decimales.

In [5]:
b = float(8)
print(b)

8.0

**Tipo cadena**


---

Las cadenas son texto encerrado entre comillas(simples '' o dobles "") y se pueden conformar de diferentes caracteres (númericos, alfabeticos o especiales). 
Tener en cuenta, las cadenas admiten operadores como la suma y la resta. (Variable String).

In [7]:
val1 = "Gabriela"
print(val1)

val2 = "Hola mundo"
print(val2)

Gabriela
Hola mundo

In [10]:
n = "Aprender"
z = "Python"
nz = n + " " + z
print(nz)

Aprender Python

**Tipo Booleanos**

---

Esté tipo de variable solo tendrá un valor VERDADERO o FALSO.
**Nota:** Son valores muy usados en condiciones y bucles.

In [14]:
lola = True
print("El valor es verdadero:",lola,"el cuál es tipo",type(lola))

El valor es verdadero: True el cuál es tipo <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. Listas
2. Tuplas
3. Diccionarios

**Tipo de conjuntos**
Son una colección de datos sin elementos que repiten.

In [15]:
fruta = "Pera", "Manzana", "Naranja"
print(fruta)

('Pera', 'Manzana', 'Naranja')

**Tipo listas**

---

Son las que almacenan vectores. Las listas siempre empiezan a nombrarse desde el elemento cero(0). A partir de allí empieza el conteo.

In [20]:
lista = ['45', 'uva', 'lila', 'perro', "celular", "micro", "botella", "tetero", "10"]
print(lista)
elementos = lista[-1]
print(elementos)

['45', 'uva', 'lila', 'perro', 'celular', 'micro', 'botella', 'tetero', '10']
10

**Tipo tuplas**

---
Es una lista que no se puede modificar después de la creación de está:

In [21]:
tupla = 23, 28, "hola"
print(tupla)

(23, 28, 'hola')

**Tipo diccionarios**
---
Define los datos uno a uno entre un campo (ID - Identificador - Clave) y un valor.

In [25]:
datos={
         "nombres" : "Gabriela",
         "apellidos" : "León González",
         "Cedula" : 1234567891,
         "est_civil" : "soltera",
         "lugar_nacimiento" : "Bogotá D.C",
         "fecha_nacimiento" : "02/01/2001"
}
print("ID del diccionario", datos.keys())
print("Valores del diccionario", datos.values())
print("Parejitas", datos.items())

ID del diccionario dict_keys(['nombres', 'apellidos', 'Cedula', 'est_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
Valores del diccionario dict_values(['Gabriela', 'León González', 1234567891, 'soltera', 'Bogotá D.C', '02/01/2001'])
Parejitas dict_items([('nombres', 'Gabriela'), ('apellidos', 'León González'), ('Cedula', 1234567891), ('est_civil', 'soltera'), ('lugar_nacimiento', 'Bogotá D.C'), ('fecha_nacimiento', '02/01/2001')])

**Tarea**
---
Realizar 2 ejercicios por cada tipo de datos.

**ENTERO**

In [29]:
print("Número entero negativo:")
negativo = -80
print(negativo)
print("---------------------")
print("Ahora convertimos el número positivo, seleccionando solo su valor absoluto:")
negativo = abs(negativo)
print(negativo)

Número entero negativo:
-80
---------------------
Ahora convertimos el número positivo, seleccionando solo su valor absoluto:
80

In [31]:
print("Los números enteros pueden ser positivos y negativos pero sin decimales")
neg = -5
pos = 5
print(neg, "Es el contrario de:", pos)

Los números enteros pueden ser positivos y negativos pero sin decimales
-5 Es el contrario de: 5

**FLOAT**

In [34]:
print("Un número decimal, puede contener demasiado decimales en su interior")
decimal = 5.12345678910111
print(decimal)

Un número decimal, puede contener demasiado decimales en su interior
5.12345678910111

In [36]:
print("Pero podemos convertir en un tamaño más entendible ese decimal")
decimal = round(decimal, 2)
print(decimal)

Pero podemos convertir en un tamaño más entendible ese decimal
5.12

**CADENA**

In [37]:
p1 = "Un"
p2 = "parrafo"
p3 = "puede"
p4 = "estar"
p5 = "en"
p6 = "muchas"
p7 = "variables"
print(p1 + " " + p2 + " "  + p3 + " " +  p4 + " " + p5 + " " + p6 + " " + p7)

Un parrafo puede estar en muchas variables

In [41]:
print("Se puede hacer operaciones con cadenas, como repetirla x cantidad de veces")
repeticion = "Mujeres digitales "
print(repeticion * 5)

Se puede hacer operaciones con cadenas, como repetirla x cantidad de veces
Mujeres digitales Mujeres digitales Mujeres digitales Mujeres digitales Mujeres digitales

**BOOLEANO**

In [49]:
print("Se puede asignar valores booleanos a las variables")
post = True
nega = False
print("post es: ", post, "y nega es:", nega)

Se puede asignar valores booleanos a las variables
post es:  True y nega es: False

In [50]:
print("También se puede realizar operaciónes para que de un resultado de tipo Booleano")
print(post == nega)

También se puede realizar operaciónes para que de un resultado de tipo Booleano
False

**LISTAS**

In [53]:
print("Se puede declarar una lista vacia")
lista1 = []
print("Lista1 es de tipo ", type(lista1))

Se puede declarar una lista vacia
Lista1 es de tipo  <class 'list'>

In [58]:
lista1.clear()
print("Se puede ir añadiendo datos a nuestra lista usando la función append, que añade los datos al final de la lista")
lista1.append("prueba")
print(lista1)
lista1.append("con")
print(lista1)
lista1.append("listas")
print(lista1)

Se puede ir añadiendo datos a nuestra lista usando la función append, que añade los datos al final de la lista
['prueba']
['prueba', 'con']
['prueba', 'con', 'listas']

**TUPLAS**

In [68]:
print("Las tuplas son inmutables por eso se deben asignar de una vez sus valores")
tupla1 = "casa", "apartamento", "mansion", "casa"
print(tupla1)

Las tuplas son inmutables por eso se deben asignar de una vez sus valores
('casa', 'apartamento', 'mansion', 'casa')

In [69]:
print("Se puede contar las veces que se repite un elemento en la tupla")
print(tupla1.count("casa"))

Se puede contar las veces que se repite un elemento en la tupla
2

**DICCIONARIOS**

In [71]:
print("Para poder crear un diccionario se debe tener en cuenta que debe tener su id")
mascota = {
    "tipo" : "perro",
    "nombre" : "Peluchin",
    "edad" : 11,
    "raza" : "schnauzer"
}
print(mascota)

Para poder crear un diccionario se debe tener en cuenta que debe tener su id
{'tipo': 'perro', 'nombre': 'Peluchin', 'edad': 11, 'raza': 'schnauzer'}

In [76]:
print("Hay dos formas de obtener los valores de un diccionario")
print(mascota["edad"])
print(mascota.get("edad"))

Hay dos formas de obtener los valores de un diccionario
11
11

**CONJUNTOS**

In [80]:
print("La ventaja de esté tipo es que no se puede repetir los datos")
conjuntos = {"Gabriela", "Olga", "Luis", "Laura", "Vanessa", "Luis"}
print(conjuntos)

La ventaja de esté tipo es que no se puede repetir los datos
{'Luis', 'Gabriela', 'Olga', 'Laura', 'Vanessa'}

In [82]:
print("Se añade nuevos elementos son ADD")
conjuntos.add("Valentina")
print(conjuntos)

Se añade nuevos elementos son ADD
{'Luis', 'Gabriela', 'Valentina', 'Olga', 'Laura', 'Vanessa'}