<a href="https://colab.research.google.com/github/GabyLeon10100/MujeresDigitales/blob/main/Clase10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [ ]:
#Uso de counts
jj = pd.Series([67.3, 100, 96.7, None, 100], index=['R', 'P', 'G', 'P', 'B'], name='test2')
print(jj)

R     67.3
P    100.0
G     96.7
P      NaN
B    100.0
Name: test2, dtype: float64

In [ ]:
print(jj.count()) #Cuenta los valores reales que hay en la Serie
print('--------')
print(jj.value_counts()) #Cuenta las repeticiones de cada valor
print('--------')
print(jj.unique()) #Trae solo los datos que no están repetidos
print('--------')
print(jj.drop_duplicates()) #Quita duplicados
print('--------')
print(jj.duplicated()) #Identificar si aparece ese valor

4
--------
100.0    2
96.7     1
67.3     1
Name: test2, dtype: int64
--------
[ 67.3 100.   96.7   nan]
--------
R     67.3
P    100.0
G     96.7
P      NaN
Name: test2, dtype: float64
--------
R    False
P    False
G    False
P    False
B     True
Name: test2, dtype: bool
--------
91.0

**FUNCIONES ESTADISTICAS**

In [ ]:
print(jj.mean()) #Suma todos los valores y nos saca el promedio
print('--------')
print(jj.median()) #Saca la mediana de una Serie
print('--------')
print(jj.quantile(0.5)) #permiten conocer otros puntos característicos de la distribución
print('--------')
print(jj.describe()) #Información más detallada sobre nuestra Serie
print('--------')

91.0
--------
98.35
--------
98.35
--------
count      4.000000
mean      91.000000
std       15.876398
min       67.300000
25%       89.350000
50%       98.350000
75%      100.000000
max      100.000000
Name: test2, dtype: float64
--------
R    False
P    False
G    False
P     True
B    False
Name: test2, dtype: bool
--------
R     67.3
P    100.0
G     96.7
P     -1.0
B    100.0
Name: test2, dtype: float64
--------
R     67.3
P    100.0
G     96.7
B    100.0
Name: test2, dtype: float64

**MANEJO CON NAS**

In [ ]:
print(jj.isna()) #Identifica si tiene valores nulos
print('--------')
print(jj.fillna(-1)) #Llena el valor Nan con otro valor
print('--------')
print(jj.dropna()) #Llama a los valores que tienen un valor especifico
print('--------')
print(jj.notnull()) #Verifica que el valor no sea nulo o vacio
print('----COMO LLAMAR A LOS VALORES QUE NO ESTAN VACIOS----')
jj[jj.notnull()]

R    False
P    False
G    False
P     True
B    False
Name: test2, dtype: bool
--------
R     67.3
P    100.0
G     96.7
P     -1.0
B    100.0
Name: test2, dtype: float64
--------
R     67.3
P    100.0
G     96.7
B    100.0
Name: test2, dtype: float64
--------
R     True
P     True
G     True
P    False
B     True
Name: test2, dtype: bool
----COMO LLAMAR A LOS VALORES QUE NO ESTAN VACIOS----

R     67.3
P    100.0
G     96.7
B    100.0
Name: test2, dtype: float64

**Operaciones con Strings**

In [ ]:
nombres = pd.Series(['Jorge', 'John', 'Paula'])
print(nombres.str.lower()) #Pasa los String en minusculas
print('--------')
print(nombres.str.upper()) #Pasa los String a mayusculas
print('--------')
print(nombres.str.findall('o')) #Encuentra los valores que tengan el parametro

0    jorge
1     john
2    paula
dtype: object
--------
0    JORGE
1     JOHN
2    PAULA
dtype: object
--------
0    [o]
1    [o]
2     []
dtype: object

**DATAFRAMES**

In [2]:
import numpy as np

In [3]:
data = np.array([['', "col1", "col2", "col3", "col4"],
                 ["row1", 11, 22, 33, 44],
                 ["row2", 55, 66, 77, 88],
                 ["row3", 99, 1010, 1111, 1212],
                 ["row4", 1313, 1414, 1515, 1616]])

In [6]:
df = pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:])

In [7]:
df

      col1  col2  col3  col4
row1    11    22    33    44
row2    55    66    77    88
row3    99  1010  1111  1212
row4  1313  1414  1515  1616

In [ ]:
print(df)
print(df.shape) #Forma
df['col1']['row1'] #Coordenadas

      col1  col2  col3  col4
row1    11    22    33    44
row2    55    66    77    88
row3    99  1010  1111  1212
row4  1313  1414  1515  1616
(4, 4)

'11'

In [ ]:
#Sacar los elementos del Dataframe en diagonal
print('CON LOC')
print(df.loc['row1', 'col1'])
print(df.loc['row2', 'col2'])
print(df.loc['row3', 'col3'])
print(df.loc['row4', 'col4'])
print('CON ILOC')
print(df.iloc[0,0])
print(df.iloc[1,1])
print(df.iloc[2,2])
print(df.iloc[3,3])

CON LOC
11
66
1111
1616
CON ILOC
11
66
1111
1616

In [8]:
for indx in range(4):
  print(df.iloc[indx, indx])
  print(indx)

11
0
66
1
1111
2
1616
3

In [ ]:
indices = df.index.to_list()
columnas = df.columns.to_list()
for indx in range(4):
  print(df.loc[indices[indx], columnas[indx]])

11
66
1111
1616

In [ ]:
for x in range(4):
  print(df.iloc[x,x:])

col1    11
col2    22
col3    33
col4    44
Name: row1, dtype: object
col2    66
col3    77
col4    88
Name: row2, dtype: object
col3    1111
col4    1212
Name: row3, dtype: object
col4    1616
Name: row4, dtype: object